.header 
    position: absolute
    top: 0
    z-index: 2
    width: 100%
    padding: 70px 0 0 0

    button, p, a
        font-family: 'Montserrat-Med', sans-serif
    
    &__info-company 
        display: flex
        justify-content: space-between
        align-items: center
        max-width: 1122px;
        width: 80%;

    &__logo
        width: 15%
    
    &__wrap 
        display: flex
        justify-content: space-between
        align-items: center


    &__reseption-phone
        a
            color: #fff
            font-size: 14px
            transition: 0.3s

            &:hover
                color: #ff9b7b

    svg 
        width: 15px
        height: 10px
        
        path 
            fill: #fe9776
        
    &__location-office, &__work-time,
    &__reseption-phone 
        p 
            color: #b0b2b1
            font-size: 14px
                 
        button 
            color: #fff
            font-size: 14px
            margin: 15px 0 0 0
            border: 0
            background-color: transparent
            transition: 0.3s         

            &:hover
                color: #ff9b7b

        a
            display: block
            margin: 15px 0 0 0
        
    &__top-nav 
        max-width: 450px;
        width: 20%;
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%

        a
            font-family: 'Montserrat-Bold', sans-serif
            color: #fff
            text-transform: uppercase
            font-size: 14px
            border-bottom: 1px solid #fff
            transition: 0.3s

            &:hover
                color: #ff9b7b
                border-bottom: 1px solid #ff9b7b

    &__burg-wrap
        position: relative
        width: 35px;
        height: 20px;
        cursor: pointer
        

        .top, .mid
            width: 35px

        .bot
            width: 20px
            top: 20px
            right: 0

        span
            position: absolute
            height: 5px
            background-color: #fff
            border-radius: 5px

        .mid
            top: 10px
            
@media screen and ( max-width: 1600px)
    .header
        &__info-company
            max-width: 1010px

        &__top-nav
            max-width: 380px
    
    
    

    
