@font-face
    font-family: Montserrat-Med
    src: url('../fonts/Montserrat-Medium.ttf')

@font-face
    font-family: Montserrat-Bold
    src: url('../fonts/Montserrat-SemiBold.ttf')

@import './header/_header'
@import './footer/_footer'