.services
    a, p, span
        font-family: 'Montserrat-Med', sans-serif
        color: #fff
    .swiper-wrapper

        .swiper-slide
            position: relative
            height: 95vh
            -webkit-transition: 0.7s
            -moz-transition: 0.7s
            -ms-transition: 0.7s
            -o-transition: 0.7s
            transition: 0.7s
            
            &:hover
                .services__link-to-serv
                    color: #fe9c79
                    text-decoration: underline

                .services__slide-wrap-content
                    background-color: rgba(0, 0, 0, 0.0)
                    -webkit-transition: 0.7s
                    -moz-transition: 0.7s
                    -ms-transition: 0.7s
                    -o-transition: 0.7s
                    transition: 0.7s
                img
                    -webkit-filter: grayscale(0%)
                    filter: grayscale(0%)  
                    -webkit-transition: 0.7s
                    -moz-transition: 0.7s
                    -ms-transition: 0.7s
                    -o-transition: 0.7s
                    transition: 0.7s                  
            img
                -webkit-transition: 0.7s;
                -moz-transition: 0.7s;
                -ms-transition: 0.7s;
                -o-transition: 0.7s;
                transition: 0.7s;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                height: 100%
                object-fit: cover
                object-position: center


    .swiper-button-prev
        opacity: 0
        left: 63px
        width: 165px;
        background-image: url(../images/svg/left-arrow.svg);
        background-repeat: no-repeat;
        background-position: top 7px left;
        background-size: 20%;

        &:hover
            p
                color: #fe9c79

        &::after
            content: ''

        p
            margin-left: auto

    .swiper-button-next
        right: 63px;
        width: 165px;
        background-image: url(../images/svg/right-arrow.svg);
        background-repeat: no-repeat;
        background-position: top 7px right;
        background-size: 20%;

        &:hover
            p
                color: #fe9c79

        &::after
            content: ''

        p
            margin-right: auto

    &__link-to-serv
        display: block
        font-size: 30px
        margin: 0 0 30px 0

    &__slide-wrap-content
        position: absolute
        background-color: rgba(0, 0, 0, 0.6)
        height: 100%
        top: 0
        left: 0
        right: 0
        bottom: 0
        -webkit-transition: 0.7s;
        -moz-transition: 0.7s;
        -ms-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s;

    &__wrap-content
        position: absolute
        bottom: 100px
        left: 60px
        right: 50px


    &__content-text
        font-size: 18px
        line-height: 2
        color: #dcd8d5

    &__quantity-service
        display: flex
        align-items: center
        margin: 60px 0 0 0

        span
            margin: 0 0 0 20px
            padding: 10px 17px
            min-height: 40px
            border-radius: 5px
            background-color: #dd072d




@media screen and ( max-width: 1540px)
    .services
        &__wrap-content
            position: absolute;
            bottom: 30px;
            left: 30px;
            right: 30px;



    