.footer
    background-color: #241c19
    font-family: 'Montserrat-Med', sans-serif
    padding: 30px 0

    &__wrap
        display: flex
        justify-content: space-around

        p, a
            color: #6e6a69
            font-size: 14px

        a
            border-bottom: 2px solid #6e6a69